* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.hero {
  padding: 20px 20px 10px;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center; 
}

.logo {
  width: 35px;
  height: auto;
  display: block;
  margin: 0 auto 10px; 
}

.hero h1 {
  font-size: em;
  color: #333;
  margin: 0;
  font-family: Arial, sans-serif;
  font-weight: bold;
  text-align: left;   
  max-width: 1200px; 
  padding-left: 20px; 
  box-sizing: border-box;
}


.products {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;            
  padding: 10px;
  max-width: 1200px;
  margin: 0 auto;
}


article {
  background: #fff;
  padding: 10px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 4px;              
}


article img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 12px;
}

article h2 {
  font-size: 1.2em;
  color: #333;
  margin: 5px 0;         
}


article .price {
  font-size: 1.1em;
  color: #1E90FF;
  font-weight: bold;
  align-self: flex-start;
  margin: 2px 0;        
}


button.buy-blue {
  background-color: #1E90FF;
  color: white;
  border: none;
  padding: 20px 50px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  align-self: flex-start;
  outline: none;
}

button.buy-blue:hover {
  background-color: #0F70DF;
}

button.buy-blue:focus {
  outline: none;
  box-shadow: none;
}



.fixed-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: white;
    border-top: 1px solid #e0e0e0;
    padding: 15px 0;
    text-align: center;
    box-shadow: 0 -2px 10px rgba(0,0,0,0.1);
}

.footer-text {
    max-width: 800px;
    margin: 0 auto;
    color: #666;
    font-size: 12px;
}

.footer-text a {
    color: #2c3e50;
    text-decoration: none;
}

.footer-text a:hover {
    color: #3498db;
}